<!DOCTYPE html>
<html>
<head>
    <title>Recipe Home</title>
    <link rel="stylesheet" type="text/css" href="/assets/home.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <nav>
        <h3>The Recipe app 1</h3>
    </nav>
    <div id="wrapper">
        <div>
            <img src="/assets/Ingredients.jpg" class="main-image" alt="Ingredients" title="Ingredients" />
        </div>
        <div>
          <h2>The Recipe  App</h2>
          <h5>I have no slogan</h5>
            <form action="/recipe">
                <input placeholder="Email" type="text" name="userName" />
                <input placeholder="Password" type="text" name="password" />
                <a class="rec-button" href="/recipe">Continue</a>
            </form>
            <div>

            </div>
        </div>
</body>

</html>
